body{
    font-family: Arial, Helvetica, sans-serif;
}

#main-heading{
    text-align: center;
}

.todo-container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
}

#todoInput, #todoDate{
    font-size: 15px;
    padding: 10px 5px;
}

.addBtn{
    background-color:green;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
}

.deleteBtn{
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 0px;
    cursor: pointer;
}
